<div class="page-header">
  <h1 class="brand"> Center of the Universe </h1>
</div>
<div class ="new_stat_btt">
<%= link_to "Post a New Status", new_status_path, class:"btn btn-success" %>
</div>
<% @statuses.each do |status| %>
<div class="status">
  <div class = "row">
    <div class = "span1">
      <%= image_tag status.user.gravitar_url %>
    </div>
    <div class="span7">
    <strong><%= link_to status.user.profile_name, status.user.profile_name %></strong>
      <p> <%=status.content %><p>
      </div>
        <div class ="meta">
          <%= link_to time_ago_in_words(status.created_at)+" ago", status %>
          <% if user_signed_in? %>
         
          <% if status.user == current_user or current_user.admin? %>
            <div class="admin">
              | <%= link_to "Edit Status", edit_status_path(status) %> |
              <%= link_to "Delete Status",status,method: :delete, data: {confirm:"Are you sure you want to delete this status?"} %>
            </div>
          <% end %>
          
          <%# necessary for usage of commontator gem & changed the order of codes from line 20 to line 28~yj %>
          <%= commontator_thread(status) %> 

          <% end %>
      </div>
    </div>
</div>
<%end %>